<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.calendar %>
  </p>

  <p>
    <strong>Add location:</strong>
    <%= event.address %>
  </p>
  <p>
    <strong>All day:</strong>
    <%= event.all_day %>
  </p>

  <p>
    <strong>Start_time:</strong>
    <%= event.start_time %>
  </p>

  <p>
    <strong>End_time:</strong>
    <%= event.end_time %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Alert:</strong>
    <%= event.alert %>
  </p>


</div>
